<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="icon" href="/img/sun-logo.png" />
        <title>{{title}}</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This is a simple UI made using Handlebars for node.js.</p>
            <p>The back-end API is built with node.js/Express.js, and utilizes two third party APIs: Mapbox, Dark Sky.</p>
            <p>This project is based off of <a href="https://www.udemy.com/course/the-complete-nodejs-developer-course-2/" alt="Udemy">The Complete Node.js Developer Course</a> by Andrew Mead and Rob Percival on Udemy, with modifications.</p>
            <a href="https://www.linkedin.com/in/mikevfern/"><img id="profilePic" src="/img/genericProfilePic.png" alt="Visit my LinkedIn account." /></a>
        </div>
        {{>footer}}
    </body>
</html>