body {
    color: #333;
    font-family: 'Courier New', Courier, monospace;
    max-width: 80%;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

button {
    color: white;
    background: black;
    border: none;
    padding: 8px;
    cursor: pointer;
}

footer {
    color: #999;
    border-top: 1px solid #eee;
    margin-top: 15px;
    padding: 15px 0;
}

header {
    margin-top: 15px;
    margin-bottom: 45px;
}

header a {
    color: rgb(0, 104, 9);
    margin-right: 15px;
    text-decoration: none;
}

h1 {
    font-size: 45px;
    margin-bottom: 15px;
}

input {
    border: 1px solid #bbb;
    padding: 8px;
}

.main-content {
    flex-grow: 1;
}

#profilePic {
    width: 250px;
}